<a href="https://colab.research.google.com/github/VeneratioVitae/hello-world/blob/master/Graded_assessment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

SOME QUESTIONS ANSWERED

In [ ]:
import pandas as pd

In [ ]:
url = "https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv"
Energy_data = pd.read_csv(url)
Energy_data

                     record_id  ...  fuel_cost_per_mmbtu
0        f1_fuel_1994_12_1_0_7  ...                1.121
1       f1_fuel_1994_12_1_0_10  ...                1.120
2        f1_fuel_1994_12_2_0_1  ...                1.650
3        f1_fuel_1994_12_2_0_7  ...                1.970
4       f1_fuel_1994_12_2_0_10  ...                2.570
...                        ...  ...                  ...
29518  f1_fuel_2018_12_12_0_13  ...                9.030
29519   f1_fuel_2018_12_12_1_1  ...                6.950
29520  f1_fuel_2018_12_12_1_10  ...                8.990
29521  f1_fuel_2018_12_12_1_13  ...                1.110
29522  f1_fuel_2018_12_12_1_14  ...               11.680

[29523 rows x 11 columns]

CHECKING NUMBER OF NAN VALUES

In [ ]:
Energy_data.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

SKEWNESS AND CURTOSIS

In [ ]:
Energy_data.skew(axis = 0, skipna = True)

utility_id_ferc1                  0.605070
report_year                       0.006953
fuel_qty_burned                  15.851495
fuel_mmbtu_per_unit               4.135217
fuel_cost_per_unit_burned        19.787440
fuel_cost_per_unit_delivered    105.014227
fuel_cost_per_mmbtu             171.675535
dtype: float64

In [ ]:
Energy_data.kurtosis(axis=0)

utility_id_ferc1                    1.088432
report_year                        -1.145656
fuel_qty_burned                   651.369450
fuel_mmbtu_per_unit                55.595695
fuel_cost_per_unit_burned         485.255851
fuel_cost_per_unit_delivered    11765.054226
fuel_cost_per_mmbtu             29489.132594
dtype: float64

LOWEST FUEL COST PER UNIT BURNED

In [ ]:
fuel_burned = Energy_data[['fuel_type_code_pudl','fuel_cost_per_unit_burned']]
fuel_burned.min(axis=0)

fuel_type_code_pudl            coal
fuel_cost_per_unit_burned   -276.08
dtype: object

MAXIMUM FUEL COST PER UNIT BURNED

In [ ]:
fuelunit_delivered = Energy_data[['report_year','fuel_cost_per_unit_burned']]
fuelunit_delivered.max(axis=0)

report_year                    2018.0
fuel_cost_per_unit_burned    139358.0
dtype: float64